*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.container {
  min-height: 100vh;
  background-color: rgb(56, 50, 50);
  padding: 2rem 3rem;
}

.heading {
  text-align: center;
  color: #ffffffba;
  font-size: clamp(2rem, 2.5vw, 3.5rem);
}

.board {
  max-width: 100%;
  margin-block: 2rem;
  margin-inline: auto;
  width: 60%;

  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, 20rem));
  gap: 2rem;
  place-content: center;
}

.board__card {
  background-color: rgb(77, 74, 74);
  padding: 2rem;
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0px rgb(175, 170, 170);
  cursor: pointer;
  transform: rotateY(180deg);
  transition: box-shadow 0.25s ease-in, background 0.5s ease-in-out,
    transform 0.3s ease-in;
}

.board__card-img {
  opacity: 0;
  scale: 0;

  transition: scale 0.5s ease-in, opacity 0.5s ease-in;
}

.board__card:hover {
  box-shadow: 0 0 0rem 1px rgb(175, 170, 170);
}

.active {
  transform: rotateY(0deg);
}

.correct {
  box-shadow: inset 0 0 4rem #38ff0094;
}
.wrong {
  box-shadow: inset 0 0 4rem #ff000094;
}

.board__card.correct:hover {
  box-shadow: inset 0 0 4rem #38ff0094;
}

.board__card.wrong:hover {
  box-shadow: inset 0 0 4rem #ff000094;
}

.board__card.active .board__card-img {
  opacity: 1;
  scale: 1;
}

.game-end {
  margin-block-start: 3rem;
  margin-inline: auto;
  display: block;
  padding: 2rem 4rem;
  border-radius: 3rem;
  font-family: monospace;
  font-size: clamp(1.5rem, 2.5vw, 1.75rem);
  font-weight: bold;
  background: none;
  border: none;
  box-shadow: 0 0 1rem 0px rgba(255, 255, 255, 0.767);
  color: #b39696;
  transition: box-shadow 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
  animation: animateEndGameInfo 0.3s ease-in forwards;
}

.game-end:hover,
.game-end:focus-visible {
  outline: transparent;
  color: rgb(235, 220, 220);
  box-shadow: 0 0 0rem 1px rgb(243, 238, 238);
}

.game-msg {
  text-align: center;
  margin-block-start: 2rem;

  font-family: monospace, sans-serif;
  font-size: clamp(1.35rem, 2vw, 1.65rem);
  color: azure;
  animation: animateEndGameInfo 0.3s ease-in forwards;
}

@keyframes animateEndGameInfo {
  0% {
    opacity: 0;
    translate: 0 -10rem;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@media only screen and (max-width: 1000px) {
  .board {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .board {
    grid-template-columns: repeat(3, minmax(8rem, 20rem));
  }
}
